<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tonio.projektkoncowy">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.example.tonio.activities.CalendarActivity" />
        <activity android:name=".com.example.tonio.activities.AddNewSupp" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.thecodecity.cameraandroid.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".com.example.tonio.activities.GraphActivityNew" />
        <activity android:name=".com.example.tonio.activities.ShowCurrentDataFromSensor" />
        <activity android:name=".com.example.tonio.activities.ListOfSensors" />
        <activity android:name=".com.example.tonio.activities.SingleSensorActivity" />
        <activity android:name=".com.example.tonio.activities.CalendarsActivity" />
        <activity android:name=".com.example.tonio.activities.NewBluetooth" />
        <activity android:name=".com.example.tonio.activities.HistoricDataActivity"></activity>
    </application>

</manifest>